name: Spring boot docker images CI/CD


on:
  push:
    branches: [main]

env:
  DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}

  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     # 소스 복사 
     # - name: 
     #   run: git clone https://github.com/masungil70/kosa-devops-step1
     # 위의 주석들을 실행해주는 라이브러리 
       - uses: actions/checkout@v3

       - name: Setup JDK17 
         uses: actions/setup-java@v3 # java에 대한 버전을 설정할 수 있음
         with:
           java-version: '17'
           distribution: 'temurin'
       - name: gradlew 파일 실행 권한 설정
         run: chmod +x gradlew
         
       - name: Tset with gradle
         run: ./gradlew task --info 

       - name: Spring boot 실행 파일 생성
         run: ./gradlew bootjar

       - name: docker iamge 생성
         run: docker build -t ${{env.DOCKER_USERNAME}}/devops-step2:latest .

       - name: docker login
         uses: docker/login-action@v1
         with:
           username: ${{env.DOCKER_USERNAME}}
           password: ${{env.DOCKER_PASSWORD}}


       - name: docker image 허브에 저장
         run: docker push ${{env.DOCKER_USERNAME}}/devops-step2:latest 
      
       - name: 파일 업로드 
         uses: actions/upload-artifact@v4
         with:
            name: my-actifact
            path: docker-compose_nginx.yml





  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    steps:
    # copy yml file from src
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            docker-compose_nginx.yml
            nginx/nginx.conf
          sparse-checkout-cone-mode: false
          clean: true

      - name: docker image pull
        run: docker image pull ${{env.DOCKER_USERNAME}}/devops-step2:latest

        #run: cd /home/kosa/devops-step2 # 이 경로에 해당 파일이 없기 때문에 경로를 바꿔줘야함
      #- name: docker compose 실행하기 위한 경로 이동 

      - name: docker compose 실행 
        run: docker compose -f docker-compose_nginx.yml up -d


      - name: 파일 다운로드
        uses: actions/download-artifact@v4
        with:
          name: my-artifact


      - name: docker login
        #run: docker login -u hyunhojang -p${{secrets.DOCKER_PASSWORD}}
        uses: docker/login-action@v1
        with:
          username: ${{env.DOCKER_USERNAME}}
          password: ${{env.DOCKER_PASSWORD}}

      - name: pull docker image
        run: docker pull ${{env.DOCKER_USERNAME}}/devops-step2:latest

      - name: run docker container
        run: docker compose -f docker-compose_nginx.yml up -d
      
      - name: cleanup old images
        run: docker image prune -f